body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.list{
    display: inline-block;
    text-align: left;
    font-size: 20px;
    padding: 0px;

}
.title{
    font-size: 60px;
}

img{
    width: 640px;
    height: auto;
    padding-right: 0px;
    margin-right: 0px;
}

.kokkicont{
    position: relative;
    width: 845px;
    height: 722px;
    background-image: url(img/makaronilaatikko.jpg);
    background-size:contain;
    margin: auto;
}

.kokkicont img{
    height: auto;
    position: absolute;
    width: 385px;
    left: 60%;
    top: 40px;

    } 

.imgcont{
    background-image: url(img/tähdet.png);
    width: 800px;
    height: 350px;
    background-size: contain;
    text-align: center;
    margin: auto;
}

.arvostelut{
    font-size: 20px;
    position: relative;
    top: 65%
}

.ala{
    font-size: 35px;
    padding: 20px;
    margin: 0px;
}

.desc{
    font-size: 25px;
    background-color: lightpink;
    border: 1px solid black;
    color: black;
    width: 1200px;
    text-align: center;
    margin: auto;
}